In [2]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

dir= 'C:\\Users\\Administrator\\Desktop\\Task1\\t1.csv'
x=pd.read_csv(dir)
x.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
def data_process(x1):
    Age=x['age'].values
    bmi=x['bmi'].values
    children=x['children'].values
    charges=x['charges'].values
    return Age,bmi,children,charges

Age,bmi,children,charges = data_process(x)

In [25]:
minage,minbmi,minchildren,mincharges = np.min(Age) , np.min(bmi) , np.min(children) , np.min(charges)

print("Minimum Age=",minage,"\nMinimum bmi=",minbmi,"\nMinimum Children=",minchildren, "\nMinimum Charges=",mincharges)

Minimum Age= 18
Minimum bmi= 15.96
Minimum Children= 0
Minimum Charges= 1121.8739

In [26]:
maxage,maxbmi,maxchildren,maxcharges = np.max(Age) , np.max(bmi) , np.max(children) , np.max(charges)

print("maximum Age=",maxage,"\nmaximum bmi=",maxbmi,"\nmaximum Children=",maxchildren, "\nmaximum Charges=",maxcharges)

maximum Age= 64
maximum bmi= 53.13
maximum Children= 5
maximum Charges= 63770.42801

In [28]:
meanage,meanbmi,meanchildren,meancharges = np.mean(Age) , np.mean(bmi) , np.mean(children) , np.mean(charges)

print("mean Age=",meanage,"\nmean bmi=",meanbmi,"\nmean Children=",meanchildren, "\nmean Charges=",meancharges)

mean Age= 39.20702541106129
mean bmi= 30.66339686098655
mean Children= 1.0949177877429
mean Charges= 13270.422265141257

In [42]:
# Gender type counts
idx=pd.Index(x['gender'].values)
a=idx.value_counts()

# Smoker counts
idx=pd.Index(x['smoker'].values)
b=idx.value_counts()

# Region counts
idx=pd.Index(x['region'].values)
c=idx.value_counts()


print(a)
print(b)
print(c)

male      676
female    662
dtype: int64
no     1064
yes     274
dtype: int64
southeast    364
southwest    325
northwest    325
northeast    324
dtype: int64

In [49]:
a1=pd.unique(x['gender'].values)
b1=pd.unique(x['smoker'].values)
c1=pd.unique(x['region'].values)
print("Unique values in Age",a1)
print("\nUnique values in smoker",b1)
print("\nUnique values in region",c1)

Unique values in Age ['female' 'male']

Unique values in smoker ['yes' 'no']

Unique values in region ['southwest' 'southeast' 'northwest' 'northeast']